
<table id="featurestyle" width="1000px" height="200px">
  <tr>
      <td valign="top">
        <table id="featurestylehead" width="1000px" height="120px">
           <tr valign="top">
            <td valign="top">
              <div id="featuretexthead" class="shadow_dark">Strive towards excellence</div>
              <div id="featuretextheadbottom" class="shadow_dark">We practice Excellence so that it is made a habit.</div>
               </td> 
             </tr>
          </tbody>
       </table> 
<br>
<br>
<br>

About BizLogisticx write up here

<br>
<br>
<br>
     </td> 
    </tr>
  </tbody> 
</table> 


 
