



<table id="featurestyle" width="1000px" height="200px">
  <tr>
      <td valign="top">
        <table id="featurestylehead" width="1000px" height="120px">
           <tr valign="top">
            <td valign="top">
              <div id="featuretexthead" class="shadow_dark">Get your business noticed</div>
              <div id="featuretextheadbottom" class="shadow_dark">Create great websites and quality promotional materials</div>
               </td> 
             </tr>
          </tbody>
       </table> 

 <div id="description"> 
  <table>
      <tbody>
        <tr>
         <td> 
              <div id="toggle"> <div id="activecell">Web design</div><div id="inactivecell">Marketing</div></div> 
          </td>
          <td width="160px"> first
          </td> 

        </tr>
          </tbody>
  </table> 
</div>




<div id="procedure" > 
  <table>
      <tbody>
        <tr>
         <td> 
              <div id="toggle" ><div id="inactivecell">Web design</div><div id="activecell">Marketing</div></div> 
          </td>
          <td width="160px"> second
          </td> 

        </tr>
          </tbody>
  </table> 
</div>


       
     </td>
  </tr>
</table>

 <script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.4.2.js"></script>  
 <script src="/javascripts/application.js"></script>  

<br>




 
