

<table id="homeinto" width="1000px" height="450px">
  <tr valign="top">
      <td id="homeintotd" valign="top">
        <div id="homebannertexthead" class="shadow_dark"> Manage Own Website</div>
        <div id="arrowbullet"><div id="homebannerbulletwrite" class="shadow_dark">Ready to use templates</div></div>
        <div id="arrowbullet"><div id="homebannerbulletwrite" class="shadow_dark">Maintain your own website</div></div>
        <div id="arrowbullet"><div id="homebannerbulletwrite" class="shadow_dark">Customizable</div></div>
        <div id="arrowbullet"><div id="homebannerbulletwrite" class="shadow_dark">Add features easily</div></div>
      
              <div id="laptop_background"></div>
          
        
        <a href="" title="FREE trial" alt="FREE trial"><div id="freetrialstrip"><div id="homebannertrialtwrite" class="shadow_dark">Start your FREE trial</div></div></a>

      </td>
      <td id="homeintotd">
   	      <div id="homebannertexthead" class="shadow_dark">Artwork Made Easy</div>
        </td>
      <td id="homeintotdright">
  	     <div id="homebannertexthead" class="shadow_dark">Get Noticed On Web</div>
     </td>
  </tr>
</table>
<br>
<table id="hometilestyle" width="1000px" height="250px">
  <tr>
      <td id="homeintotd" valign="top">
        <div id="hometiletext">Web templates small business</div>
      </td>
      <td id="homeintotd">
          <div id="hometiletext">Custom art work and design services</div>
        </td>
      <td id="homeintotdright">
         <div id="hometiletext">Unlimited support</div>
     </td>
  </tr>
</table>


<br>
