

<table id="homeinto" width="1000px" height="400px">
  <tr valign="top">
      <td id="homeintotd" valign="top">
        <div id="homebannertext" > Space for web service</div>
      </td>
      <td id="homeintotd">
   	      <div id="homebannertext"> Space for design service</div>
        </td>
      <td id="homeintotdright">
  	     <div id="homebannertext"> Space for SEO service</div>
     </td>
  </tr>
</table>
<br>
<table id="hometilestyle" width="1000px" height="250px">
  <tr>
      <td id="homeintotd" valign="top">
        <div id="hometiletext">Web templates small business</div>
      </td>
      <td id="homeintotd">
          <div id="hometiletext">Custom art work and design services</div>
        </td>
      <td id="homeintotdright">
         <div id="hometiletext">Unlimited support</div>
     </td>
  </tr>
</table>


<br>
