
<table id="homeinto" width="1000px" height="450px">
  <tr valign="top">
      <td id="homeintotd" width="333px" valign="top">
        <div id="homebannertexthead" class="shadow_dark"> Manage Own Website</div>
        <div id="arrowbullet"><div id="homebannerbulletwrite" class="shadow_dark">Ready to use templates</div></div>
        <div id="arrowbullet"><div id="homebannerbulletwrite" class="shadow_dark">Maintain your own website</div></div>
        <div id="arrowbullet"><div id="homebannerbulletwrite" class="shadow_dark">Customizable store</div></div>
        <div id="arrowbullet"><div id="homebannerbulletwrite" class="shadow_dark">Add features easily</div></div>
      
              <div id="laptop_background"></div>
          
        
        <a href="" title="FREE trial" alt="FREE trial"><div id="freetrialstrip"><div id="homebannertrialtwrite" class="shadow_dark">Start your FREE trial</div></div></a>

      </td>
      <td width="333px" id="homeintotd">
   	      <div id="homebannertexthead" class="shadow_dark">Artwork Made Easy</div>
          <div id="arrowbullet"><div id="homebannerbulletwrite" class="shadow_dark">Create your own design</div></div>
        <div id="arrowbullet"><div id="homebannerbulletwrite" class="shadow_dark">Expert assistance </div></div>
        <div id="arrowbullet"><div id="homebannerbulletwrite" class="shadow_dark">Database of all recent designs </div></div>
        <div id="arrowbullet"><div id="homebannerbulletwrite" class="shadow_dark">Great discounts for members</div></div>
        <div id="artwork_background"></div>
        <a href="" title="FREE trial" alt="FREE trial"><div id="freetrialstrip"><div id="homebannertrialtwrite" class="shadow_dark">View more samples</div></div></a>
        </td>
      <td width="333px" id="homeintotdright">
  	     <div id="homebannertexthead" class="shadow_dark">Get Noticed On Web</div>
         <div id="arrowbullet"><div id="homebannerbulletwrite" class="shadow_dark">Create your own design</div></div>
        <div id="arrowbullet"><div id="homebannerbulletwrite" class="shadow_dark">Expert assistance </div></div>
        <div id="arrowbullet"><div id="homebannerbulletwrite" class="shadow_dark">Database of all recent designs </div></div>
        <div id="arrowbullet"><div id="homebannerbulletwrite" class="shadow_dark">Great discounts for members</div></div>
        <div id="artwork_background"></div>
        <a href="" title="FREE trial" alt="FREE trial"><div id="freetrialstrip"><div id="homebannertrialtwrite" class="shadow_dark">View more samples</div></div></a>
     </td>
  </tr>
</table>
<br>
<table id="hometilestyle" width="1000px" height="200px">
  <tr>
      <td valign="top">
        <div id="hometiletexthead">Ready to use templates </div>
        <div id="hometiletext">Templates are designed for different business. Choose the one you like and begin designing your own website. These templates are easily customizable store and check out options.</div>

      </td>
      <td valign="top">
           <div id="hometiletexthead">Marketing tools</div>
        <div id="hometiletext">Readily available artwork for brand promotions. Options for custom design made available. Talk to design expert for innovative ideas and discount prices. Members get great discounts.</div>
        </td>
      <td valign="top">
          <div id="hometiletexthead">Customer satisfaction</div>
        <div id="hometiletext">Satisfying our customers and help them succeed is our goal. We are here for you all the time. We can assist you by answering all your questions. </div>
     </td>
  </tr>
</table>


<br>

