<table id="featurestyle" width="1000px" height="200px">
  <tr>
      <td valign="top">
        <table id="featurestylehead" width="1000px" height="120px">
           <tr valign="top">
            <td valign="top">
              <div id="featuretexthead" class="shadow_dark">Product worth the cost</div>
              <div id="featuretextheadbottom" class="shadow_dark">All services are made available at an affordable price</div>
               </td> 
             </tr>
          </tbody>
       </table> 
<br>
<br>
<br>

Pricing information write up here

<br>
<br>
<br>
  	  </td> 
    </tr>
  </tbody> 
</table> 


