
<table id="featurestyle" width="1000px" height="200px">
  <tr>
      <td valign="top">
        <table id="featurestylehead" width="1000px" height="120px">
           <tr valign="top">
            <td valign="top">
              <div id="featuretexthead" class="shadow_dark">Quality service guaranteed</div>
              <div id="featuretextheadbottom" class="shadow_dark">Website and artwork designs made easy by not compromising quality</div>
               </td> 
             </tr>
          </tbody>
       </table> 

 <div id="description"> 
  <table>
      <tbody>
        <tr>
         <td> 
              <div id="toggle"> <div id="activecell">Web design</div><div id="inactivecell">Artwork design</div><div id="inactivecell">SEO</div></div> 
          </td>
          <td width="160px"> write up for Web
          </td> 

        </tr>
          </tbody>
  </table> 
</div>




<div id="procedure" > 
  <table>
      <tbody>
        <tr>
         <td> 
              <div id="toggle" ><div id="inactivecell">Web design</div><div id="activecell">Artwork design</div><div id="inactivecell">SEO</div></div> 
          </td>
          <td width="160px"> write up for art
          </td> 

        </tr>
          </tbody>
  </table> 
</div>


<div id="sample_submission" > 
  <table>
      <tbody>
        <tr>
         <td> 
              <div id="toggle" ><div id="inactivecell">Web design</div><div id="inactivecell">Artwork design</div><div id="activecell">SEO</div></div> 
          </td>
          <td width="160px"> write up for SEO
          </td> 

        </tr>
          </tbody>
  </table> 
</div>



       
     </td>
  </tr>
</table>

 <script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.4.2.js"></script>  
 <script src="/javascripts/application.js"></script>  

<br>




 
